.contenedor{
  text-align: center;
}

.contenedor-registros{
  display :inline-block;
  margin: 20px;
  text-align: center;
}
.formRegistro{
  text-align: left;
}
.listadoPersonas{
  text-align: left;
}
table {
  border: 2px solid;
  padding: 0;
  background-color: #b3d4fc;
}
th {
  width : 200px;
  text-align:center;
}
tbody tr td {
  text-align: center;
}