<div class="contenedor" ng-controller="View1Ctrl">
    <div class="contenedor-registros">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12"><h3>Registro de Estudiantes</h3></div>
                <div class="col-md-12 formRegistro">
                    <form id="form">
                        <div class="form-group">
                            <label for="txtNombre">Cedula</label>
                            <input type="text" id="txtCedula" class="form-control" placeholder="Ingrese su cédula" ng-model="estudiante.cedula" />
                        </div>
                        <div class="form-group">
                            <label for="txtNombre">Nombres</label>
                            <input type="text" id="txtNombre" class="form-control" placeholder="Ingrese sus nombres" ng-model="estudiante.nombres" />
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoPaterno">Apellido Paterno</label>
                            <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Apellido Paterno" ng-model="estudiante.apellidop">
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoMaterno">Apellido Materno</label>
                            <input type="text" class="form-control"  id="txtApellidoMaterno" placeholder="Apellido Materno" ng-model="estudiante.apellidom">
                        </div>
                        <div class="form-group">
                            <label for="txtanolectivo">Año Lectivo</label>
                            <input type="text" id="txtanolectivo" class="form-control" placeholder="Año Lectivo" ng-model="estudiante.anolectivo" />
                        </div>
                        <input type="button" value="Agregar" id="btnAdd" class="btn btn-primary" ng-click="insertar()"/>

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                   <div class="col-md-12"><h3>Listado de Estudiantes</h3></div>
                    <div class="col-md-12 listadoPersonas">
                            <table>
                                <thead>
                                    <th>
                                        Cédula
                                    </th>
                                    <th>
                                        Nombres
                                    </th>
                                    <th>
                                        Apellido Paterno
                                    </th>
                                    <th>
                                        Apellido Materno
                                    </th>
                                    <th>
                                        Paralelo
                                    </th>
                                    <th>
                                        Año Electivo
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="c in estudiantes" ng-if="c.estado == 1">
                                    <td>{{ c.cedula }}</td>
                                    <td>{{ c.nombres }}</td>
                                    <td>{{ c.apellidop }}</td>
                                    <td>{{ c.apellidom }}</td>
                                    <td>{{ c.paralelo }}</td>
                                    <td>{{ c.anolectivo }}</td>
                                    <td>
                                        <a class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a ng-click="eliminar(c.cedula)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                    </div>
            </div>

        </div>

    </div>

</div>
